This file contains the progress of our statistical analysis.

In [2]:
import pandas as pd

In [47]:
dataframe = pd.DataFrame.from_csv('h1b_kaggle.csv')
cleandf = dataframe[dataframe.lat.notnull()]
cleandf = cleandf[cleandf.lon.notnull()]
cleandf = cleandf[cleandf.SOC_NAME.notnull()]
dataframe = cleandf
dataframe

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.00,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.00,2016.0,"PLANO, TEXAS",-96.698886,33.019843
3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.00,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.00,2016.0,"DENVER, COLORADO",-104.990251,39.739236
5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.40,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003
6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,91021.00,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.00,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.00,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222
11,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",Y,182978.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625
12,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,Y,163717.00,2016.0,"MIDLAND, MICHIGAN",-84.247212,43.615583
14,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,Y,252637.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
15,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,Y,105914.00,2016.0,"GREENWOOD VILLAGE, COLORADO",-104.950814,39.617210
16,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,153046.00,2016.0,"STERLING, VIRGINIA",-77.429130,39.006699
17,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,Y,90834.00,2016.0,"WAUKESHA, WISCONSIN",-88.231481,43.011678
18,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
19,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,241842.00,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835
21,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,117998.00,2016.0,"COMMERCE, CALIFORNIA",-118.159793,34.000569
22,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
23,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,Y,99986.00,2016.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738
24,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,99986.00,2016.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054
25,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,159370.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
26,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
27,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,Y,130853.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
28,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,Y,215862.00,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
29,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,Y,192088.00,2016.0,"AUSTIN, TEXAS",-97.743061,30.267153
30,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,Y,95295.98,2016.0,"WESTON, FLORIDA",-80.399775,26.100365
31,CERTIFIED,GTH INC.,CHIEF EXECUTIVES,"VICE PRESIDENT, BUSINESS DEVELOPMENT",Y,149594.00,2016.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192
32,CERTIFIED,THE KRAFT HEINZ COMPANY,CHIEF EXECUTIVES,HEAD OF US SALES,Y,226699.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
...,...,...,...,...,...,...,...,...,...,...
3002413,WITHDRAWN,"TLC SURGICAL MANAGEMENT, LTD.",Medical and Health Services Managers,MEDICAL & HEALTH SERVICES MANAGER,N,60632.00,2011.0,"THE WOODLANDS, TEXAS",-95.461263,30.165821
3002414,WITHDRAWN,HEADSTRONG SERVICES LLC,Computer Programmers,SENIOR CONSULTANT,Y,79518.00,2011.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625
3002416,WITHDRAWN,"MEDTRONIC, INC.",Computer Systems Analysts,SR. IT BUSINESS SYSTEMS ANALYST,Y,76981.00,2011.0,"MOUNDS VIEW, MINNESOTA",-93.208558,45.104966
3002417,WITHDRAWN,"COMPUNNEL SOFTWARE GROUP, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,41538.00,2011.0,"NASHVILLE, TENNESSEE",-86.781602,36.162664
3002418,WITHDRAWN,BENZ 'N BEAMERS,Accountants and Auditors,ACCOUNTANT,Y,38604.80,2011.0,"LOMITA, CALIFORNIA",-118.315072,33.792239
3002419,WITHDRAWN,"HIVE-FX, LLC",Multimedia Artists and Animators,3D ARTIST,Y,50544.00,2011.0,"PORTLAND, OREGON",-122.676482,45.523062
3002420,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002421,WITHDRAWN,"GS GLOBAL SERVICES, INC.",Computer Programmers,IT CONSULTANT,Y,70554.00,2011.0,"MANALAPAN, NEW JERSEY",-74.348582,40.285920
3002422,WITHDRAWN,"UNITED SOFTWARE GROUP, INC.",Network and Computer Systems Administrators*,WEBSPHERE PORTAL SYSTEM ADMINISTRATOR,Y,45843.00,2011.0,"DUBLIN, OHIO",-83.114077,40.099229
3002423,WITHDRAWN,LSI CORPORATION,"Electronics Engineers, Except Computer",ASIC DESIGN ENGINEER,Y,57158.00,2011.0,"ALLENTOWN, PENNSYLVANIA",-75.490183,40.608430
3002424,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,Y,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
3002425,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,Y,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
3002426,WITHDRAWN,MIFI SYSTEMS INC,Computer Systems Analysts,SYSTEMS ANALYST,Y,50939.00,2011.0,"CLEARWATER, FLORIDA",-82.800103,27.965853
3002427,WITHDRAWN,COVANCE CLINICAL RESEARCH UNIT INC.,Statisticians,BIOSTATISTICIAN I,Y,55640.00,2011.0,"MADISON, WISCONSIN",-89.401230,43.073052
3002428,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Programmers,COMPUTER PROGRAMMER,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002432,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,Y,36837.00,2011.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545
3002433,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002434,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,Y,36795.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664
3002435,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,77730.00,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033
3002437,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,Y,89232.00,2011.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
3002438,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,Y,34510.00,2011.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757
3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,53082.00,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431
3002440,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,Y,37336.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3002441,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),Y,64800.00,2011.0,"REDWOOD SHORES, CALIFORNIA",-122.245536,37.536413
3002442,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,N,70553.60,2011.0,"WEST VALLEY, UTAH",-112.001050,40.691613
3002443,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,33800.00,2011.0,"AKRON, OHIO",-81.519005,41.081445
3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
3002445,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814

Job title and case status statistics

In [29]:
#Extract top 50 jobs in dataset
newdf = pd.DataFrame()
newdf['Counts'] = dataframe['SOC_NAME'].value_counts()
newdf['SOC_NAME'] = newdf.index
newdf.sort_values(by = ['Counts'], ascending = True)
topjobs = newdf.head(50)['SOC_NAME'].tolist()
topjobs

['Computer Systems Analysts',
 'Computer Programmers',
 'SOFTWARE DEVELOPERS, APPLICATIONS',
 'COMPUTER SYSTEMS ANALYSTS',
 'Software Developers, Applications',
 'COMPUTER PROGRAMMERS',
 'COMPUTER OCCUPATIONS, ALL OTHER',
 'Computer Occupations, All Other',
 'Software Developers, Systems Software',
 'SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE',
 'Management Analysts',
 'Financial Analysts',
 'Computer Software Engineers, Applications',
 'Accountants and Auditors',
 'MANAGEMENT ANALYSTS',
 'Mechanical Engineers',
 'Computer Occupations, All Other*',
 'Electronics Engineers, Except Computer',
 'Electrical Engineers',
 'Market Research Analysts and Marketing Specialists',
 'ACCOUNTANTS AND AUDITORS',
 'Physicians and Surgeons, All Other',
 'Database Administrators',
 'NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS',
 'FINANCIAL ANALYSTS',
 'Operations Research Analysts',
 'Network and Computer Systems Administrators',
 'MECHANICAL ENGINEERS',
 'COMPUTER SYSTEMS ANALYST',
 'DATABASE ADMINISTRATORS',
 'Medical Scientists, Except Epidemiologists',
 'Computer and Information Systems Managers',
 'MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS',
 'OPERATIONS RESEARCH ANALYSTS',
 'Physical Therapists',
 'Biochemists and Biophysicists',
 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER',
 'Industrial Engineers',
 'Computer Software Engineers, Systems Software',
 'ELECTRICAL ENGINEERS',
 'COMPUTER AND INFORMATION SYSTEMS MANAGERS',
 'PHYSICIANS AND SURGEONS, ALL OTHER',
 'Marketing Managers',
 'WEB DEVELOPERS',
 'Civil Engineers',
 'Biological Scientists, All Other',
 'MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS',
 'Internists, General',
 'Statisticians',
 'Chemists']

In [30]:
jobtotalapps = []
jobcertified = []
for job in topjobs:
    thisjobdf = dataframe[(dataframe['SOC_NAME'] == job)]
    jobtotalapps.append(len(thisjobdf))
    thisjobdfc = thisjobdf[(thisjobdf['CASE_STATUS']).str.contains("CERTIFIED")]
    jobcertified.append(len(thisjobdfc))

print(jobtotalapps)
print(jobcertified)

[291170, 226574, 221783, 215353, 192933, 171972, 108555, 69315, 44500, 39356, 38756, 34141, 33325, 30708, 28117, 26219, 25628, 23323, 22162, 22158, 22114, 22010, 21937, 21642, 19399, 19171, 18445, 18017, 17426, 17045, 16803, 15947, 15579, 15089, 14721, 14299, 13251, 12721, 12323, 11946, 11589, 11516, 10634, 10099, 9977, 9905, 9356, 9224, 9184, 8618]
[279627, 215716, 212366, 207353, 183352, 164554, 104670, 67173, 41974, 37437, 36148, 31300, 30837, 27460, 27031, 24230, 24508, 21800, 20441, 19625, 20861, 19659, 20715, 20753, 18285, 18001, 17448, 16945, 17302, 16336, 15762, 14793, 14373, 14493, 13555, 13508, 12517, 11634, 11492, 11207, 11009, 10618, 9203, 9863, 8798, 9301, 8909, 8299, 8559, 7948]

In [31]:
percentcert = []
for i in range(len(topjobs)):
    percentcert.append(jobcertified[i] / jobtotalapps[i])

print(percentcert)

[0.9603564927705465, 0.9520774669644355, 0.9575395769738889, 0.9628516900159273, 0.9503402735664712, 0.9568650710580793, 0.9642116899267652, 0.9690975979225276, 0.9432359550561797, 0.9512399634109158, 0.9327071937248426, 0.9167862687091767, 0.9253413353338334, 0.8942295167383092, 0.9613756801934773, 0.9241389831801365, 0.9562977992820353, 0.9346996527033401, 0.9223445537406372, 0.8856846285765864, 0.9433390612281812, 0.8931849159472967, 0.9442950266672745, 0.9589224655761944, 0.9425743595030671, 0.9389703197537947, 0.9459474112225535, 0.9405006382860631, 0.9928841960289223, 0.958404224112643, 0.9380467773611855, 0.9276352919044334, 0.9225880993645291, 0.9605010272383856, 0.9207934243597582, 0.9446814462549828, 0.9446079541166704, 0.9145507428661269, 0.9325651221293516, 0.9381382889670182, 0.9499525412028648, 0.922021535255297, 0.8654316343802896, 0.9766313496385781, 0.8818282048712037, 0.9390206966178698, 0.952223172295853, 0.8997181266261925, 0.9319468641114983, 0.9222557437920631]

In [32]:
jobcertdf = pd.DataFrame()
jobcertdf['SOC_NAME'] = topjobs
jobcertdf['Percent_Certified'] = percentcert
jobcertdf

                                             SOC_NAME  Percent_Certified
0                           Computer Systems Analysts           0.960356
1                                Computer Programmers           0.952077
2                   SOFTWARE DEVELOPERS, APPLICATIONS           0.957540
3                           COMPUTER SYSTEMS ANALYSTS           0.962852
4                   Software Developers, Applications           0.950340
5                                COMPUTER PROGRAMMERS           0.956865
6                     COMPUTER OCCUPATIONS, ALL OTHER           0.964212
7                     Computer Occupations, All Other           0.969098
8               Software Developers, Systems Software           0.943236
9               SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE           0.951240
10                                Management Analysts           0.932707
11                                 Financial Analysts           0.916786
12          Computer Software Engineers, Applications           0.925341
13                           Accountants and Auditors           0.894230
14                                MANAGEMENT ANALYSTS           0.961376
15                               Mechanical Engineers           0.924139
16                   Computer Occupations, All Other*           0.956298
17             Electronics Engineers, Except Computer           0.934700
18                               Electrical Engineers           0.922345
19  Market Research Analysts and Marketing Special...           0.885685
20                           ACCOUNTANTS AND AUDITORS           0.943339
21                 Physicians and Surgeons, All Other           0.893185
22                            Database Administrators           0.944295
23        NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS           0.958922
24                                 FINANCIAL ANALYSTS           0.942574
25                       Operations Research Analysts           0.938970
26        Network and Computer Systems Administrators           0.945947
27                               MECHANICAL ENGINEERS           0.940501
28                           COMPUTER SYSTEMS ANALYST           0.992884
29                            DATABASE ADMINISTRATORS           0.958404
30         Medical Scientists, Except Epidemiologists           0.938047
31          Computer and Information Systems Managers           0.927635
32  MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...           0.922588
33                       OPERATIONS RESEARCH ANALYSTS           0.960501
34                                Physical Therapists           0.920793
35                      Biochemists and Biophysicists           0.944681
36             ELECTRONICS ENGINEERS, EXCEPT COMPUTER           0.944608
37                               Industrial Engineers           0.914551
38      Computer Software Engineers, Systems Software           0.932565
39                               ELECTRICAL ENGINEERS           0.938138
40          COMPUTER AND INFORMATION SYSTEMS MANAGERS           0.949953
41                 PHYSICIANS AND SURGEONS, ALL OTHER           0.922022
42                                 Marketing Managers           0.865432
43                                     WEB DEVELOPERS           0.976631
44                                    Civil Engineers           0.881828
45                   Biological Scientists, All Other           0.939021
46         MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS           0.952223
47                                Internists, General           0.899718
48                                      Statisticians           0.931947
49                                           Chemists           0.922256

Top employers with most applicants statistics

In [36]:
#Extract top 50 employers in dataset
employersdf = pd.DataFrame()
employersdf['Counts'] = dataframe['EMPLOYER_NAME'].value_counts()
employersdf['EMPLOYER_NAME'] = employersdf.index
employersdf.sort_values(by = ['Counts'], ascending = True)
topemployers = employersdf.head(50)['EMPLOYER_NAME'].tolist()
topemployers

['INFOSYS LIMITED',
 'TATA CONSULTANCY SERVICES LIMITED',
 'WIPRO LIMITED',
 'DELOITTE CONSULTING LLP',
 'IBM INDIA PRIVATE LIMITED',
 'ACCENTURE LLP',
 'MICROSOFT CORPORATION',
 'HCL AMERICA, INC.',
 'ERNST & YOUNG U.S. LLP',
 'COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION',
 'LARSEN & TOUBRO INFOTECH LIMITED',
 'CAPGEMINI AMERICA INC',
 'GOOGLE INC.',
 'IBM CORPORATION',
 'IGATE TECHNOLOGIES INC.',
 'INTEL CORPORATION',
 'TECH MAHINDRA (AMERICAS),INC.',
 'DELOITTE & TOUCHE LLP',
 'AMAZON CORPORATE LLC',
 'ORACLE AMERICA, INC.',
 'APPLE INC.',
 'JPMORGAN CHASE & CO.',
 'TECH MAHINDRA (AMERICAS), INC.',
 'UST GLOBAL INC.',
 'UST GLOBAL INC',
 'QUALCOMM TECHNOLOGIES, INC.',
 'HEXAWARE TECHNOLOGIES, INC.',
 'FUJITSU AMERICA, INC.',
 'MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY',
 'MPHASIS CORPORATION',
 'CUMMINS INC.',
 'KPMG LLP',
 'NTT DATA, INC.',
 'EMC CORPORATION',
 'CAPGEMINI FINANCIAL SERVICES USA INC',
 'V-SOFT CONSULTING GROUP, INC',
 'BANK OF AMERICA N.A.',
 'FACEBOOK, INC.',
 'MINDTREE LIMITED',
 'QUALCOMM INCORPORATED',
 'SYNECHRON, INC.',
 'L&T TECHNOLOGY SERVICES LIMITED',
 'GOLDMAN, SACHS & CO.',
 'CAPGEMINI U.S. LLC',
 'HCL GLOBAL SYSTEMS INC',
 'WAL-MART ASSOCIATES, INC.',
 'EBAY INC.',
 'RANDSTAD TECHNOLOGIES, LP',
 'COMPUNNEL SOFTWARE GROUP, INC.',
 'ERICSSON INC.']

In [38]:
employertotalapps = []
employercertified = []
for employer in topjobs:
    thisjobdf = dataframe[(dataframe['EMPLOYER_NAME'] == employer)]
    employertotalapps.append(len(thisjobdf))
    thisjobdfc = thisjobdf[(thisjobdf['CASE_STATUS']).str.contains("CERTIFIED")]
    employercertified.append(len(thisjobdfc))

print(employertotalapps)
print(employercertified)

[130592, 64726, 48117, 36742, 34219, 33447, 25576, 22678, 18232, 17528, 17457, 16725, 16473, 13276, 12564, 11415, 10732, 9642, 9026, 7684, 7317, 7035, 7019, 6363, 6355, 6113, 5466, 5309, 5228, 5199, 4737, 4629, 4611, 4467, 4426, 4283, 4282, 4145, 4067, 3965, 3802, 3722, 3713, 3712, 3677, 3670, 3464, 3419, 3378, 3359]
[129992, 64297, 47294, 36128, 30005, 33244, 25088, 22512, 17877, 16211, 16834, 16383, 15912, 11709, 12117, 10566, 10661, 9449, 8601, 7491, 7141, 6815, 6583, 6104, 6020, 5800, 5220, 5009, 5166, 5128, 4255, 4526, 4571, 4316, 4285, 4144, 4162, 3992, 4029, 3744, 3638, 3371, 3457, 3465, 3562, 3524, 3341, 3309, 3330, 3280]

In [42]:
percentcertemp = []
for i in range(len(topemployers)):
    percentcertemp.append(employercertified[i] / employertotalapps[i])
print(percentcertemp)

[0.995405537858368, 0.9933720606865866, 0.9828958580127606, 0.9832888792118012, 0.8768520412636255, 0.99393069632553, 0.9809196121363779, 0.9926801305229738, 0.9805287406757349, 0.9248630762209037, 0.964312310248038, 0.9795515695067265, 0.9659442724458205, 0.8819674600783368, 0.9644221585482331, 0.9256241787122208, 0.9933842713380544, 0.9799834059323792, 0.9529138045645912, 0.9748828735033837, 0.975946426130928, 0.968727789623312, 0.9378828893004701, 0.9592959295929593, 0.9472856018882769, 0.9487976443644691, 0.9549945115257958, 0.9434921830853268, 0.9881407804131599, 0.9863435276014618, 0.8982478361832383, 0.977748973860445, 0.9913250921708957, 0.9661965524960824, 0.9681427925892454, 0.9675461125379407, 0.9719757122839795, 0.9630880579010856, 0.9906565035652816, 0.9442622950819672, 0.9568648079957917, 0.9056958624395486, 0.9310530568273633, 0.9334590517241379, 0.9687245036714713, 0.9602179836512261, 0.9644919168591224, 0.9678268499561276, 0.9857904085257548, 0.976481095564156]

In [43]:
employercertdf = pd.DataFrame()
employercertdf['EMPLOYER_NAME'] = topemployers
employercertdf['Percent_Certified'] = percentcertemp
employercertdf

                                      EMPLOYER_NAME  Percent_Certified
0                                   INFOSYS LIMITED           0.995406
1                 TATA CONSULTANCY SERVICES LIMITED           0.993372
2                                     WIPRO LIMITED           0.982896
3                           DELOITTE CONSULTING LLP           0.983289
4                         IBM INDIA PRIVATE LIMITED           0.876852
5                                     ACCENTURE LLP           0.993931
6                             MICROSOFT CORPORATION           0.980920
7                                 HCL AMERICA, INC.           0.992680
8                            ERNST & YOUNG U.S. LLP           0.980529
9   COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION           0.924863
10                 LARSEN & TOUBRO INFOTECH LIMITED           0.964312
11                            CAPGEMINI AMERICA INC           0.979552
12                                      GOOGLE INC.           0.965944
13                                  IBM CORPORATION           0.881967
14                          IGATE TECHNOLOGIES INC.           0.964422
15                                INTEL CORPORATION           0.925624
16                    TECH MAHINDRA (AMERICAS),INC.           0.993384
17                            DELOITTE & TOUCHE LLP           0.979983
18                             AMAZON CORPORATE LLC           0.952914
19                             ORACLE AMERICA, INC.           0.974883
20                                       APPLE INC.           0.975946
21                             JPMORGAN CHASE & CO.           0.968728
22                   TECH MAHINDRA (AMERICAS), INC.           0.937883
23                                  UST GLOBAL INC.           0.959296
24                                   UST GLOBAL INC           0.947286
25                      QUALCOMM TECHNOLOGIES, INC.           0.948798
26                      HEXAWARE TECHNOLOGIES, INC.           0.954995
27                            FUJITSU AMERICA, INC.           0.943492
28  MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY           0.988141
29                              MPHASIS CORPORATION           0.986344
30                                     CUMMINS INC.           0.898248
31                                         KPMG LLP           0.977749
32                                   NTT DATA, INC.           0.991325
33                                  EMC CORPORATION           0.966197
34             CAPGEMINI FINANCIAL SERVICES USA INC           0.968143
35                     V-SOFT CONSULTING GROUP, INC           0.967546
36                             BANK OF AMERICA N.A.           0.971976
37                                   FACEBOOK, INC.           0.963088
38                                 MINDTREE LIMITED           0.990657
39                            QUALCOMM INCORPORATED           0.944262
40                                  SYNECHRON, INC.           0.956865
41                  L&T TECHNOLOGY SERVICES LIMITED           0.905696
42                             GOLDMAN, SACHS & CO.           0.931053
43                               CAPGEMINI U.S. LLC           0.933459
44                           HCL GLOBAL SYSTEMS INC           0.968725
45                        WAL-MART ASSOCIATES, INC.           0.960218
46                                        EBAY INC.           0.964492
47                        RANDSTAD TECHNOLOGIES, LP           0.967827
48                   COMPUNNEL SOFTWARE GROUP, INC.           0.985790
49                                    ERICSSON INC.           0.976481

Number of applications per year

In [48]:
df2011 = dataframe[(dataframe['YEAR'] == 2011.0)]

df2012 = dataframe[(dataframe['YEAR'] == 2012.0)]

df2013 = dataframe[(dataframe['YEAR'] == 2013.0)]

df2014 = dataframe[(dataframe['YEAR'] == 2014.0)]

df2015 = dataframe[(dataframe['YEAR'] == 2015.0)]

df2016 = dataframe[(dataframe['YEAR'] == 2016.0)]

years = [2011, 2012, 2013, 2014, 2015, 2016]

numapplicants = [len(df2011), len(df2012), len(df2013), len(df2014), len(df2015), len(df2016)]

numperyeardf = pd.DataFrame()
numperyeardf['Year'] = years
numperyeardf['NumApplicants'] = numapplicants
numperyeardf

   Year  NumApplicants
0  2011         333635
1  2012         394292
2  2013         422441
3  2014         498046
4  2015         600134
5  2016         629313

In [54]:
totalapps2011 = len(df2011)
df2011c = df2011[(df2011['CASE_STATUS']).str.contains("CERTIFIED")]
certified2011 = len(df2011c)

pc2011 = certified2011/totalapps2011
print(pc2011)

0.8946213676622656

In [55]:
totalapps2012 = len(df2012)
df2012c = df2012[(df2012['CASE_STATUS']).str.contains("CERTIFIED")]
certified2012 = len(df2012c)

pc2012 = certified2012/totalapps2012
print(pc2012)

0.9267370375254887

In [56]:
totalapps2013 = len(df2013)
df2013c = df2013[(df2013['CASE_STATUS']).str.contains("CERTIFIED")]
certified2013 = len(df2013c)

pc2013 = certified2013/totalapps2013
print(pc2013)

0.9480874252262446

In [58]:
totalapps2014 = len(df2014)
df2014c = df2014[(df2014['CASE_STATUS']).str.contains("CERTIFIED")]
certified2014 = len(df2014c)

pc2014 = certified2014/totalapps2014
print(pc2014)

0.947808033796075

In [60]:
totalapps2015 = len(df2015)
df2015c = df2015[(df2015['CASE_STATUS']).str.contains("CERTIFIED")]
certified2015 = len(df2015c)

pc2015 = certified2015/totalapps2015
print(pc2015)

0.9523889664641564

In [61]:
totalapps2016 = len(df2016)
df2016c = df2016[(df2016['CASE_STATUS']).str.contains("CERTIFIED")]
certified2016 = len(df2016c)

pc2016 = certified2016/totalapps2016
print(pc2016)

0.9531679784145568

In [62]:
percentcertyr = [pc2011, pc2012, pc2013, pc2014, pc2015, pc2016]
numperyeardf['Percent_Certified'] = percentcertyr
numperyeardf

   Year  NumApplicants  Percent_Certified
0  2011         333635           0.894621
1  2012         394292           0.926737
2  2013         422441           0.948087
3  2014         498046           0.947808
4  2015         600134           0.952389
5  2016         629313           0.953168